.carrinhoDeCompras {
    .row {
        .produtos {
            .produto {
                position: relative;
                padding: 10px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
                margin-bottom: 20px;
                
                img {
                    width: 10%;
                }
                
                .produto_nome {
                    width: 30%;
                }

                .produto_quantidade {
                    width: 15%;
                    display: flex;
                    input {
                        width: 100%;
                        margin-left: 5px;
                    }
                }

                .produto_preco {
                   width: 30%;
                }

                .close {
                    cursor: pointer;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    background: url('../assets/images/x.png');
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                    z-index: 1;
                }

            }
        }

        .total {
            padding: 15px;
            height: 400px;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);

            .valores {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    width: 50%;
                }

                h5 {
                    width: 45%;
                    text-align: start;
                }
            }

            .selecionar_endereco {
                margin: 20px 0;
                select {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                button {
                    width: 100%;
                    font-size: 16px;
                    margin: 20px 0;
                }
            }

            form {
                .formasDePagamento {
                        overflow-y: auto;
                        height: 110px;
                        margin: 10px 0;

                        button {
                            margin: 10px 0;
                        }

                        input, select {
                            width: 100%;
                            margin-bottom: 10px;

                    }
                    
                }
            }

        }

        .total_carrinho {
            padding: 15px;
            height: 300px;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    
            .valores {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                p {
                    font-size: 14px;
                    width: 50%;
                }
    
                h5 {
                    width: 45%;
                    text-align: start;
                }
            }
    
            .selecionar_endereco {
                margin: 20px 0;
                select {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
    
            .buttons {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                button, a {
                    text-align: center;
                    text-decoration: none;
                    width: 100%;
                    font-size: 16px;
                    margin: 20px 0;
                }

                a {
                    font-size: 1rem!important;
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
                }

                a:hover {
                    color: white;
                }
            }
        }
    }
}