@import 'variables';
.enderecos__form{
    display:grid;
    background-color:$blue3;
    grid-template-columns: 1fr;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    gap: 10px;
    &__index{
        text-align: center;
        color:$yellow;
        font-weight: 700;
    }
    &__tipos{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__outros{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__detalhesRua{
        display:grid;
        grid-template-columns: 3fr 1fr;
        gap: 10px;
    }
    .labeled__input{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 1fr;
    }
}