.enderecos__form{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    &__tipos{
        display:grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    &__outros{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    &__detalhesRua{
        display:grid;
        grid-template-columns: 3fr 1fr;
        gap: 10px;
    }
}