@import 'variables';

.footer {
    background: $blue2;

    .container {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: $white;
        }
    }
}