@import 'variables';

.footer {
    background: $blue2;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    .container {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: $white;
        }
    }
}