.footer {
    background: #232F3E;

    .container {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #FFFFFF;
        }
    }
}