@import 'variables';

*:not(main) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

p, span, td, a {
    font-family: 'Roboto Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6, th, strong {
    font-family: 'Roboto Bold', sans-serif;
}

main {
    margin: 167px auto;
}

img {
    width: 100%;
}

.button {
    background: $yellow;
    color: $white;
    border: 1px solid $yellow;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 10px;
    max-width: 100%;
    min-width: 30%;
    margin: auto;
    position: relative;
    bottom: -35px;
}

