* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, span, td, a {
    font-family: 'Roboto Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6, th, strong {
    font-family: 'Roboto Bold', sans-serif;
}

main {
    margin: 10px 0px 125px 0px;
}

img {
    width: 100%;
}

