@import 'variables';

.header {
    background: $blue1;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 105px;
    }

    &__logo {
        text-align: start;
        color: $white;
        text-decoration: none;
    }

}

