@import 'variables';

.shoppingCart {
    div {
        position: absolute;
        text-align: center;
        width: 22px;
        top: -20px;
        right: 15px;
        height: 22px;
        border-radius: 50%;
        font-weight: 700;
        background: $yellow;
    }
}