// -----------COLORS---------------

$blue1: #121922;
$blue2: #232F3E;
$blue3: #6c757d;
$yellow: #F08804;
$white: #FFFFFF;
$gray: #D3D3D3;
$black: #000000;
$red: #FF0000;

//---------------------------------

//---------------------------------